---
layout: default
body_class: post
---

{% if page.attribution %}
  <cite>
    This post originally appeared at
    <a href="{{ page.attribution }}">{{ page.attribution }}</a>.
  </cite>
{% endif %}

{% if page.image %}
  <div class="jumbotron">
    <img src="{{ page.image }}">
  </div>
{% endif %}

{{ content }}
